
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRuanganLabel">Create or edit a Ruangan</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="ruangan.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nama_ruangan">Nama_ruangan</label>
            <input type="text" class="form-control" name="nama_ruangan" id="field_nama_ruangan"
                    ng-model="ruangan.nama_ruangan"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_harga">Harga</label>
            <input type="number" class="form-control" name="harga" id="field_harga"
                    ng-model="ruangan.harga"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_aktif">Aktif</label>
            <input type="checkbox" class="form-control" name="aktif" id="field_aktif"
                    ng-model="ruangan.aktif"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dibuatOleh">DibuatOleh</label>
            <input type="text" class="form-control" name="dibuatOleh" id="field_dibuatOleh"
                    ng-model="ruangan.dibuatOleh"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tanggalDibuat">TanggalDibuat</label>
            <input type="datetime-local" class="form-control" name="tanggalDibuat" id="field_tanggalDibuat"
                    ng-model="ruangan.tanggalDibuat"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_diperbaharuiOleh">DiperbaharuiOleh</label>
            <input type="text" class="form-control" name="diperbaharuiOleh" id="field_diperbaharuiOleh"
                    ng-model="ruangan.diperbaharuiOleh"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tanggalDiperbaharui">TanggalDiperbaharui</label>
            <input type="datetime-local" class="form-control" name="tanggalDiperbaharui" id="field_tanggalDiperbaharui"
                    ng-model="ruangan.tanggalDiperbaharui"
                     />
        </div>

        <div class="form-group">
            <label for="field_kategori">kategori</label>
            <select class="form-control" id="field_kategori" name="kategori" ng-model="ruangan.kategoriId" ng-options="kategori.id as kategori.id for kategori in kategoris">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
