<div>
    <h2>Ruangans</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="ruangan.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Ruangan
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nama_ruangan"><span>Nama_ruangan</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="harga"><span>Harga</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="aktif"><span>Aktif</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dibuatOleh"><span>DibuatOleh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tanggalDibuat"><span>TanggalDibuat</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diperbaharuiOleh"><span>DiperbaharuiOleh</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tanggalDiperbaharui"><span>TanggalDiperbaharui</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="kategoriId"><span>kategori</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ruangan in ruangans track by ruangan.id">
                    <td><a ui-sref="ruangan.detail({id:ruangan.id})">{{ruangan.id}}</a></td>
                    <td>{{ruangan.nama_ruangan}}</td>
                    <td>{{ruangan.harga}}</td>
                    <td>{{ruangan.aktif}}</td>
                    <td>{{ruangan.dibuatOleh}}</td>
                    <td>{{ruangan.tanggalDibuat | date:'medium'}}</td>
                    <td>{{ruangan.diperbaharuiOleh}}</td>
                    <td>{{ruangan.tanggalDiperbaharui | date:'medium'}}</td>
                    <td>
                        <a ui-sref="kategori.detail({id:ruangan.kategoriId})">{{ruangan.kategoriId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="ruangan.detail({id:ruangan.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ruangan.edit({id:ruangan.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="ruangan.delete({id:ruangan.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
